<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="sucursal">
            <h2><span jhiTranslate="cpsjApp.sucursal.detail.title">Sucursal</span> {{sucursal.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="cpsjApp.sucursal.nombreSucursal">Nombre Sucursal</span></dt>
                <dd>
                    <span>{{sucursal.nombreSucursal}}</span>
                </dd>
                <dt><span jhiTranslate="cpsjApp.sucursal.numeroSucursal">Numero Sucursal</span></dt>
                <dd>
                    <span>{{sucursal.numeroSucursal}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/sucursal', sucursal.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
