<div>
    <h2 id="page-heading">
        <span jhiTranslate="cpsjApp.sucursal.home.title">Sucursals</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-sucursal" [routerLink]="['/sucursal/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="cpsjApp.sucursal.home.createLabel">
            Create new Sucursal
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="sucursals">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="cpsjApp.sucursal.nombreSucursal">Nombre Sucursal</span></th>
            <th><span jhiTranslate="cpsjApp.sucursal.numeroSucursal">Numero Sucursal</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let sucursal of sucursals ;trackBy: trackId">
                <td><a [routerLink]="['/sucursal', sucursal.id, 'view' ]">{{sucursal.id}}</a></td>
                <td>{{sucursal.nombreSucursal}}</td>
                <td>{{sucursal.numeroSucursal}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/sucursal', sucursal.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/sucursal', sucursal.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'sucursal/'+ sucursal.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
