<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-sucursal-heading" jhiTranslate="cpsjApp.sucursal.home.createOrEditLabel">Create or edit a Sucursal</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!sucursal.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="sucursal.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cpsjApp.sucursal.nombreSucursal" for="field_nombreSucursal">Nombre Sucursal</label>
                    <input type="text" class="form-control" name="nombreSucursal" id="field_nombreSucursal"
                        [(ngModel)]="sucursal.nombreSucursal" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cpsjApp.sucursal.numeroSucursal" for="field_numeroSucursal">Numero Sucursal</label>
                    <input type="number" class="form-control" name="numeroSucursal" id="field_numeroSucursal"
                        [(ngModel)]="sucursal.numeroSucursal" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
