<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-medico-heading" jhiTranslate="cpsjApp.medico.home.createOrEditLabel">Create or edit a Medico</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!medico.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" [(ngModel)]="medico.id" readonly />
                </div>
                <div class="form-group">
                    <img [src]='imagenUrl' style='width: 250px; height: 200px'>
                    <input type='file' #Image accept='image/*' (change)='handleFileInput($event.target.files)' [readOnly]="!medico.id">
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cpsjApp.medico.codigoMedico" for="field_codigoMedico">Codigo Medico</label>
                    <input type="text" class="form-control" name="codigoMedico" id="field_codigoMedico" [(ngModel)]="medico.codigoMedico" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cpsjApp.medico.nombreMedico" for="field_nombreMedico">Nombre Medico</label>
                    <input type="text" class="form-control" name="nombreMedico" id="field_nombreMedico" [(ngModel)]="medico.nombreMedico" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cpsjApp.medico.apellidoMedico" for="field_apellidoMedico">Apellido Medico</label>
                    <input type="text" class="form-control" name="apellidoMedico" id="field_apellidoMedico" [(ngModel)]="medico.apellidoMedico" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cpsjApp.medico.direccionMedico" for="field_direccionMedico">Direccion Medico</label>
                    <input type="text" class="form-control" name="direccionMedico" id="field_direccionMedico" [(ngModel)]="medico.direccionMedico" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cpsjApp.medico.telefonoMedico" for="field_telefonoMedico">Telefono Medico</label>
                    <input type="text" class="form-control" name="telefonoMedico" id="field_telefonoMedico" [(ngModel)]="medico.telefonoMedico" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cpsjApp.medico.emailMedico" for="field_emailMedico">Email Medico</label>
                    <input type="text" class="form-control" name="emailMedico" id="field_emailMedico" [(ngModel)]="medico.emailMedico" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cpsjApp.medico.matriculaMedico" for="field_matriculaMedico">Matricula Medico</label>
                    <input type="text" class="form-control" name="matriculaMedico" id="field_matriculaMedico" [(ngModel)]="medico.matriculaMedico" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cpsjApp.medico.horarioIMedico" for="field_horarioIMedico">Horario I Medico</label>
                    <input type="text" class="form-control" name="horarioIMedico" id="field_horarioIMedico" [(ngModel)]="medico.horarioIMedico" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cpsjApp.medico.horarioEMedico" for="field_horarioEMedico">Horario E Medico</label>
                    <input type="text" class="form-control" name="horarioEMedico" id="field_horarioEMedico" [(ngModel)]="medico.horarioEMedico" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cpsjApp.medico.porcentaje" for="field_porcentaje">Porcentaje</label>
                    <input type="text" class="form-control" name="porcentaje" id="field_porcentaje" [(ngModel)]="medico.porcentaje" />
                </div>

                <div class="form-group">
                    <label jhiTranslate="cpsjApp.medico.obrasocial" for="field_obrasocial">Obrasocial</label>
                    <select class="form-control" id="field_obrasocial" multiple name="obrasocial" [(ngModel)]="medico.obrasocials">
                        <option [ngValue]="getSelected(medico.obrasocials, obraSocialOption)" *ngFor="let obraSocialOption of obrasocials; trackBy: trackObraSocialById">{{obraSocialOption.medicoObraSocial}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label jhiTranslate="cpsjApp.medico.especialidad" for="field_especialidad">Especialidad</label>
                    <select class="form-control" id="field_especialidad" multiple name="especialidad" [(ngModel)]="medico.especialidads">
                        <option [ngValue]="getSelected(medico.especialidads, especialidadOption)" *ngFor="let especialidadOption of especialidads; trackBy: trackEspecialidadById">{{especialidadOption.codigoEspecialidad}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label jhiTranslate="cpsjApp.medico.dias" for="field_dias">Dias</label>
                    <select class="form-control" id="field_dias" multiple name="dias" [(ngModel)]="medico.dias">
                        <option [ngValue]="getSelected(medico.dias, diasOption)" *ngFor="let diasOption of dias; trackBy: trackDiasById">{{diasOption.valor}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>