<div>
    <h2 id="page-heading">
        <span jhiTranslate="cpsjApp.antecedentesPersonales.home.title">Antecedentes Personales</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-antecedentes-personales" [routerLink]="['/antecedentes-personales/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="cpsjApp.antecedentesPersonales.home.createLabel">
            Create new Antecedentes Personales
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="antecedentesPersonales">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="cpsjApp.antecedentesPersonales.tabaco">Tabaco</span></th>
            <th><span jhiTranslate="cpsjApp.antecedentesPersonales.tecafe">Tecafe</span></th>
            <th><span jhiTranslate="cpsjApp.antecedentesPersonales.enfermedades">Enfermedades</span></th>
            <th><span jhiTranslate="cpsjApp.antecedentesPersonales.alergias">Alergias</span></th>
            <th><span jhiTranslate="cpsjApp.antecedentesPersonales.intolerancias">Intolerancias</span></th>
            <th><span jhiTranslate="cpsjApp.antecedentesPersonales.regimenes">Regimenes</span></th>
            <th><span jhiTranslate="cpsjApp.antecedentesPersonales.bebidas">Bebidas</span></th>
            <th><span jhiTranslate="cpsjApp.antecedentesPersonales.ejercicios">Ejercicios</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let antecedentesPersonales of antecedentesPersonales ;trackBy: trackId">
                <td><a [routerLink]="['/antecedentes-personales', antecedentesPersonales.id, 'view' ]">{{antecedentesPersonales.id}}</a></td>
                <td>{{antecedentesPersonales.tabaco}}</td>
                <td>{{antecedentesPersonales.tecafe}}</td>
                <td>
                    <span *ngFor="let enfermedades of antecedentesPersonales.enfermedades; let last = last">
                            <a class="form-control-static" [routerLink]="['../enfermedad', enfermedades?.id, 'view' ]">{{enfermedades.valor}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td>
                    <span *ngFor="let alergias of antecedentesPersonales.alergias; let last = last">
                            <a class="form-control-static" [routerLink]="['../alergia', alergias?.id, 'view' ]">{{alergias.valor}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td>
                    <span *ngFor="let intolerancias of antecedentesPersonales.intolerancias; let last = last">
                            <a class="form-control-static" [routerLink]="['../intolerancia', intolerancias?.id, 'view' ]">{{intolerancias.valor}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td>
                    <span *ngFor="let regimenes of antecedentesPersonales.regimenes; let last = last">
                            <a class="form-control-static" [routerLink]="['../regimen', regimenes?.id, 'view' ]">{{regimenes.valor}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td>
                    <span *ngFor="let bebidas of antecedentesPersonales.bebidas; let last = last">
                            <a class="form-control-static" [routerLink]="['../bebida', bebidas?.id, 'view' ]">{{bebidas.valor}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td>
                    <span *ngFor="let ejercicios of antecedentesPersonales.ejercicios; let last = last">
                            <a class="form-control-static" [routerLink]="['../ejercicio', ejercicios?.id, 'view' ]">{{ejercicios.valor}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/antecedentes-personales', antecedentesPersonales.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/antecedentes-personales', antecedentesPersonales.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'antecedentes-personales/'+ antecedentesPersonales.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
