<!--div class="container-fluid">
    <router-outlet name="navbar"></router-outlet>
    <header *ngIf="showHeader">
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">CPSJ</h1>
                <hr>
                <p>Cuidamos tu salud</p>
            </div>
        </div>
    </header>
</div>
<jhi-footer></jhi-footer>
<div class="container-fluid">
    <div class="card jh-card">
        <router-outlet name="popup"></router-outlet>
    </div>
    <jhi-footer></jhi-footer>
</div-->

<div>
    <router-outlet name="navbar"></router-outlet>
</div>
<div class="container-fluid">
    <div class="card jh-card">
        <router-outlet></router-outlet>
        <router-outlet name="popup"></router-outlet>
    </div>
    <jhi-footer></jhi-footer>
</div>