<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="consPractObservacion">
            <h2><span jhiTranslate="cpsjApp.consPractObservacion.detail.title">Cons Pract Observacion</span> {{consPractObservacion.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="cpsjApp.consPractObservacion.idConsPract">Id Cons Pract</span></dt>
                <dd>
                    <span>{{consPractObservacion.idConsPract}}</span>
                </dd>
                <dt><span jhiTranslate="cpsjApp.consPractObservacion.idObservacion">Id Observacion</span></dt>
                <dd>
                    <span>{{consPractObservacion.idObservacion}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/cons-pract-observacion', consPractObservacion.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
