<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-monto-consulta-practica-heading" jhiTranslate="cpsjApp.montoConsultaPractica.home.createOrEditLabel">Create or edit a Monto Consulta Practica</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!montoConsultaPractica.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="montoConsultaPractica.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cpsjApp.montoConsultaPractica.idMontoConsPract" for="field_idMontoConsPract">Id Monto Cons Pract</label>
                    <input type="text" class="form-control" name="idMontoConsPract" id="field_idMontoConsPract"
                        [(ngModel)]="montoConsultaPractica.idMontoConsPract" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cpsjApp.montoConsultaPractica.monto" for="field_monto">Monto</label>
                    <input type="text" class="form-control" name="monto" id="field_monto"
                        [(ngModel)]="montoConsultaPractica.monto" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
