<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="obraSocial">
            <h2><span jhiTranslate="cpsjApp.obraSocial.detail.title">Obra Social</span> {{obraSocial.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="cpsjApp.obraSocial.codigoObraSocial">Codigo Obra Social</span></dt>
                <dd>
                    <span>{{obraSocial.codigoObraSocial}}</span>
                </dd>
                <dt><span jhiTranslate="cpsjApp.obraSocial.nombreObraSocial">Nombre Obra Social</span></dt>
                <dd>
                    <span>{{obraSocial.nombreObraSocial}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/obra-social', obraSocial.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
