<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="obraSocial">
            <h2><span jhiTranslate="cpsjApp.obraSocial.detail.title">Obra Social</span> {{obraSocial.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="cpsjApp.obraSocial.codigoObraSocial">Codigo Obra Social</span></dt>
                <dd>
                    <span>{{obraSocial.codigoObraSocial}}</span>
                </dd>
                <dt><span jhiTranslate="cpsjApp.obraSocial.nombreOSocial">Nombre O Social</span></dt>
                <dd>
                    <span>{{obraSocial.nombreOSocial}}</span>
                </dd>
                <dt><span jhiTranslate="cpsjApp.obraSocial.direecionOSocial">Direecion O Social</span></dt>
                <dd>
                    <span>{{obraSocial.direecionOSocial}}</span>
                </dd>
                <dt><span jhiTranslate="cpsjApp.obraSocial.telefonoOSocial">Telefono O Social</span></dt>
                <dd>
                    <span>{{obraSocial.telefonoOSocial}}</span>
                </dd>
                <dt><span jhiTranslate="cpsjApp.obraSocial.emailOSocial">Email O Social</span></dt>
                <dd>
                    <span>{{obraSocial.emailOSocial}}</span>
                </dd>
                <dt><span jhiTranslate="cpsjApp.obraSocial.pacienteObraSocial">Paciente Obra Social</span></dt>
                <dd>
                    <div *ngIf="obraSocial.pacienteObraSocialId">
                        <a [routerLink]="['/paciente-obra-social', obraSocial.pacienteObraSocialId, 'view']">{{obraSocial.pacienteObraSocialId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/obra-social', obraSocial.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
