<div>
    <h2 id="page-heading">
        <span jhiTranslate="cpsjApp.antecedentesFamiliares.home.title">Antecedentes Familiares</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-antecedentes-familiares" [routerLink]="['/antecedentes-familiares/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="cpsjApp.antecedentesFamiliares.home.createLabel">
            Create new Antecedentes Familiares
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="antecedentesFamiliares">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="cpsjApp.antecedentesFamiliares.vivoAF">Vivo AF</span></th>
            <th><span jhiTranslate="cpsjApp.antecedentesFamiliares.causaMuerteAF">Causa Muerte AF</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let antecedentesFamiliares of antecedentesFamiliares ;trackBy: trackId">
                <td><a [routerLink]="['/antecedentes-familiares', antecedentesFamiliares.id, 'view' ]">{{antecedentesFamiliares.id}}</a></td>
                <td>{{antecedentesFamiliares.vivoAF}}</td>
                <td>{{antecedentesFamiliares.causaMuerteAF}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/antecedentes-familiares', antecedentesFamiliares.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/antecedentes-familiares', antecedentesFamiliares.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'antecedentes-familiares/'+ antecedentesFamiliares.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
