<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="ejercicio">
            <h2><span jhiTranslate="cpsjApp.ejercicio.detail.title">Ejercicio</span> {{ejercicio.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="cpsjApp.ejercicio.valor">Valor</span></dt>
                <dd>
                    <span>{{ejercicio.valor}}</span>
                </dd>
                <dt><span jhiTranslate="cpsjApp.ejercicio.values">Values</span></dt>
                <dd>
                    <span *ngFor="let values of ejercicio.values; let last = last">
                        <a [routerLink]="['/antecedentes-personales', values?.id, 'view' ]">{{values.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/ejercicio', ejercicio.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
