<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-paciente-turno-heading" jhiTranslate="cpsjApp.pacienteTurno.home.createOrEditLabel">Create or edit a Paciente Turno</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!pacienteTurno.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="pacienteTurno.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cpsjApp.pacienteTurno.idPaciente" for="field_idPaciente">Id Paciente</label>
                    <input type="text" class="form-control" name="idPaciente" id="field_idPaciente"
                        [(ngModel)]="pacienteTurno.idPaciente" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cpsjApp.pacienteTurno.idTurno" for="field_idTurno">Id Turno</label>
                    <input type="text" class="form-control" name="idTurno" id="field_idTurno"
                        [(ngModel)]="pacienteTurno.idTurno" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cpsjApp.pacienteTurno.observacionesTurno" for="field_observacionesTurno">Observaciones Turno</label>
                    <input type="text" class="form-control" name="observacionesTurno" id="field_observacionesTurno"
                        [(ngModel)]="pacienteTurno.observacionesTurno" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
