<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-observacion-heading" jhiTranslate="cpsjApp.observacion.home.createOrEditLabel">Create or edit a Observacion</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!observacion.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="observacion.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cpsjApp.observacion.idObservacion" for="field_idObservacion">Id Observacion</label>
                    <input type="text" class="form-control" name="idObservacion" id="field_idObservacion"
                        [(ngModel)]="observacion.idObservacion" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="cpsjApp.observacion.descripcionObservacion" for="field_descripcionObservacion">Descripcion Observacion</label>
                    <input type="text" class="form-control" name="descripcionObservacion" id="field_descripcionObservacion"
                        [(ngModel)]="observacion.descripcionObservacion" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
