<div>
    <h2 id="page-heading">
        <span jhiTranslate="cpsjApp.paciente.home.title">Pacientes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-paciente" [routerLink]="['/paciente/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="cpsjApp.paciente.home.createLabel">
            Create new Paciente
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="pacientes">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nombrePaciente"><span jhiTranslate="cpsjApp.paciente.nombrePaciente">Nombre Paciente</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="apellidoPaciente"><span jhiTranslate="cpsjApp.paciente.apellidoPaciente">Apellido Paciente</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="direccionPaciente"><span jhiTranslate="cpsjApp.paciente.direccionPaciente">Direccion Paciente</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="telefonoPaciente"><span jhiTranslate="cpsjApp.paciente.telefonoPaciente">Telefono Paciente</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="emailPaciente"><span jhiTranslate="cpsjApp.paciente.emailPaciente">Email Paciente</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fechaNacPaciente"><span jhiTranslate="cpsjApp.paciente.fechaNacPaciente">Fecha Nac Paciente</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="generoPaciente"><span jhiTranslate="cpsjApp.paciente.generoPaciente">Genero Paciente</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="pacienteObraSocialId"><span jhiTranslate="cpsjApp.paciente.pacienteObraSocial">Paciente Obra Social</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let paciente of pacientes ;trackBy: trackId">
                <td><a [routerLink]="['/paciente', paciente.id, 'view' ]">{{paciente.id}}</a></td>
                <td>{{paciente.nombrePaciente}}</td>
                <td>{{paciente.apellidoPaciente}}</td>
                <td>{{paciente.direccionPaciente}}</td>
                <td>{{paciente.telefonoPaciente}}</td>
                <td>{{paciente.emailPaciente}}</td>
                <td>{{paciente.fechaNacPaciente | date:'mediumDate'}}</td>
                <td>{{paciente.generoPaciente}}</td>
                <td>
                    <div *ngIf="paciente.pacienteObraSocialId">
                        <a [routerLink]="['../obra-social', paciente.pacienteObraSocialId , 'view' ]" >{{paciente.pacienteObraSocialId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/paciente', paciente.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/paciente', paciente.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'paciente/'+ paciente.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="pacientes && pacientes.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
